@import url(/css/global.css);

.cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1.2rem;
}

.card {
    background-color: seagreen;
    width: 300px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* makes sure rounded corners apply to image */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    aspect-ratio: 2 / 3; /* poster style */
    object-fit: cover;    /* fills the space nicely */
    display: block;
}