@import url(/css/global.css);

body {
    background-color: var(--dark-black);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1.2rem;
    background-color: var(--dark-black);

    max-width: 1100px;
    margin: 0 auto;

    padding: 1.2rem;    /* optional but recommended */
}

.card {
    background-color: seagreen;
    /* width: 250px;
    height: 375px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* makes sure rounded corners apply to image */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;

    position: relative;
}

.card img {
    max-width: 100%;
    aspect-ratio: 2 / 3; /* poster style */
    object-fit: cover;    /* fills the space nicely */
    display: block;
}

@media (max-width: 690px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}

/* TODO: notes about this layout */
/* TODO: This style should be documanted & saved to css lab */


/* ! styling the star icon */
.card .star {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: clamp(1.8rem, 4vw + 0.5rem, 2.1rem);
    cursor: pointer;
    /* border: 2px solid; */
    color: var(--text-color);
}

.favorite {
    color: var(--yellow);
}