:root {
    --brand-color: #BB2D3B;
    --hover-brand: #bb2d3bd6;

    --bg-color: #212529;
    --dark-black: #000000;

    --yellow: #E6C409;

    --text-color: #FFFFFF;
    --secondary-bg: #6C757D;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite NZ Basic", sans-serif;
    text-decoration: none;
}

.hero-section {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.hero-section nav {
    background-color: seagreen;
    padding: clamp(1rem, 5vw, 3rem);
    display: flex;
    justify-content: space-between;
}

.hero-section nav ul, .nav-content {
    display: inline-flex;
    gap: 1rem;
    list-style-type: none;
}

.hero-section main {
    background-color: sienna;
    flex: 1;
}

.hero-section footer {
    background-color: slateblue;
}

@media (max-width: 580px) {
    nav ul, .nav-list {
        display: none;
    }
}