:root {
    --brand-color: #BB2D3B;
    --hover-brand: #bb2d3bd6;

    --bg-color: #212529;
    --dark-black: #000000;

    --yellow: #E6C409;

    --text-color: #FFFFFF;
    --secondary-bg: #6C757D;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite NZ Basic", sans-serif;
    text-decoration: none;
}

.hero-section {
    height: 100dvh;
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/imgs/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section main {
    /* background-color: sienna; */
    flex: 1;
}

footer {
    background-color: slateblue;
}

.hidden {
    display: none;
}

@media (max-width: 675px) {
    nav ul, .nav-list {
        display: none;
    }
}